extends ../base

block app-title
        | Ride details

block content
    - let isPassenger = false;
    div.ride-detailed-container
        .row
            .col-lg-12
                .row.main-row
                    .col-lg-5.font-xlg.text-center
                        span #{ride.fromCity}
                    .col-lg-2.font-lg.text-center
                        span.glyphicon.glyphicon-chevron-right
                    .col-lg-5.font-xlg.text-center
                        span #{ride.toCity}
                hr
        .row
            .col-lg-12
                ul.nav.nav-tabs
                    li.active
                        a.tab-title(href="#information", data-toggle="tab", aria-expanded="true") Information
                    li
                        a.tab-title(href="#passengers", data-toggle="tab", aria-expanded="false") Passengers
                    li
                        a.tab-title(href="#comments", data-toggle="tab", aria-expanded="false") Comments
                #my-tab-content.tab-content
                    #information.tab-pane.fade.active.in
                        .matchheight.detailed-information
                            ul
                                li
                                    span Driver:&nbsp
                                    a(href=`/users/${ride.driver}`) #{ride.driver}
                                li
                                    span Date of travel:&nbsp
                                    | #{moment(ride.dateOfTravel).format("lll")}
                                li
                                    span Available seats:&nbsp
                                    | #{ride.freePlaces}
                                li
                                    span Price:&nbsp
                                    | #{ride.price}
                                li
                                    span Contact information:
                                    p #{ride.contact}
                                li
                                    span Detailed information:
                                    p #{ride.remarks}
                    #passengers.tab-pane.fade
                        .matchheight.detailed-information
                            if ride.passengers.length > 0
                                ul
                                    each passenger in ride.passengers
                                        li
                                            a(href=`/users/${passenger}`) #{passenger}
                                        if(currentUser.username === passenger)
                                            -isPassenger = true
                            else
                                ul
                                    li No passengers signed for this ride
                    #comments.tab-pane.fade
                        .matchheight.detailed-information
                            if ride.comments.length > 0
                                each comment in ride.comments
                                    .row.col-xs-10.col-xs-offset-1
                                        .comment-container
                                                .row.main-row
                                                    .col-xs-9.font-s
                                                            a(href=`/users/${comment.username}`) #{comment.username}
                                                    .col-xs-3.font-s
                                                            span #{moment(comment.date).format("lll")}
                                                .row
                                                    hr
                                                .row.comment-row
                                                    p.col-lg-12 #{comment.comment}
                            else

                                ul
                                    li No comments for this ride

                            .col-xs-10.col-xs-offset-1
                                #ride-comment-form
                                    input.hidden(type="text", id="tb-comment-ride-id", value=`${ride.id}`, name="rideId")
                                    .row
                                        .col-xs-12
                                            textarea.form-control(rows="4", id="tb-ride-comment", name="comment", value="comment")
                                    .row
                                        .col-xs-12
                                            input.btn.btn-primary.btn-block(type="submit", id="tb-send-comment", value="Send")

        if currentUser.username !== ride.driver && !isPassenger
            .row
                .col-lg-12
                    hr
            .row.centered
                #ride-sign-form
                    input.hidden(type="text", id="tb-ride-id", value=`${ride.id}`, name="rideId")
                    input.hidden(type="text", id="tb-ride-passenger", value=`${currentUser.username}` name="passengerUsername")
                    input.btn.btn-success.btn-special(type="submit", id="tb-sign-for-ride", value="Sign for ride")
        if currentUser.username !== ride.driver && isPassenger
            .row
                .col-lg-12
                    hr
            .row.centered
                #ride-unsign-form
                    input.hidden(type="text", id="tb-ride-id", value=`${ride.id}`, name="rideId")
                    input.hidden(type="text", id="tb-ride-passenger", value=`${currentUser.username}` name="passengerUsername")
                    input.btn.btn-danger.btn-special(type="submit", id="tb-unsign-from-ride", value="Unsign from ride")

    script(src="/scripts/utils/requester.js")
    script(src="/scripts/utils/notificator.js")
    script(src="/scripts/utils/constants.js")
    script(src="/scripts/utils/validator.js")
    script(src="/scripts/rides/sign-ride-ajax.js")
    script(src="/scripts/rides/unsign-ride-ajax.js")
    script(src="/scripts/rides/comment-ride-ajax.js")

    script(type="text/javascript").
        jQuery(function($){
        $(".matchheight").matchHeight({byRow: false});
        });